.btn {
	padding: 1em 1.2em;
	margin: .8em;
	font-family: var(--ff-button);
	font-size: var(--font-size-button);
	font-weight: var(--fw-bold);
	text-transform: capitalize;
	border: none;
	border-radius: 24px;
}

.btn-white {
	background-color: var(--white);
	color: var(--clr-cta-text);
}
.btn-white:hover,
.btn-white:focus-visible {
	background-color: var(--clr-cta-hover-background);
	color: var(--white);
	cursor: pointer;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid var(--white);
	color: var(--white);
}
.btn-transparent:hover,
.btn-transparent:focus-visible {
	background-color: var(--white);
	border: 1px solid var(--clr-cta-border);
	color: var(--clr-cta-text);
	cursor: pointer;
}