.section-hero {
	padding: var(--section-block-padding) var(--section-inline-padding);
	background-image: url("./assets/bg-pattern-intro-mobile.svg"), var(--primary-gradient-intro);
	background-position: 34% 36%;
	background-size: 340%;
	background-repeat: no-repeat;
	border-bottom-left-radius: 100px;
}
.hero__container {
	text-align: center;
}
.hero__title {
	max-width: 13ch;
	margin: 1rem auto;
}
.hero__text {
	max-width: 26ch;
	margin: 1rem auto 2.5rem;
	color: var(--clr-text-light);
}

@media screen and (min-width: 767px) {
	.section-hero {
		background-image: url("./assets/bg-pattern-intro-desktop.svg"), var(--primary-gradient-intro);
		background-position: 34% 36%;
		background-size: 150%;
	}
	.hero__title {
		max-width: 18ch;
	}	
	.hero__text {
		max-width: 55ch;
	}
}
@media screen and (min-width: 1280px) {
	.hero__title {
		max-width: 28ch;
	}
}
@media screen and (min-width: 1440px) {
	.section-hero {
		background-position: 26% 55%;
		background-size: 230%;
	}
}