.section-hero {
	background-image: var(--primary-gradient-intro);
	border-bottom-left-radius: 100px;
}
.container-hero {
	background-image: url("./assets/bg-pattern-intro-mobile.svg");
	background-size: 150% 100%;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
}
.container-hero .text {
	margin: 1rem auto;
}