.section-features {
	padding: var(--section-block-padding) var(--section-inline-padding);
	background-color: var(--clr-background-light);
}
.container-features .content {
	display: grid;
	place-items: center;
	text-align: center;
}
.container-features .content__title {
	max-width: 16ch;
	margin-top: 3rem;
	color: var(--clr-heading-dark);
}
.container-features .content__text {
	max-width: 31ch;
	color: var(--clr-text-dark);
}

@media screen and (min-width: 767px) {
	.section-features {
		overflow: hidden;
	}
	.container-features .images {
		width: 50%;		
	}
	.container-features .images picture {
		width: 145%;
		transform: translate(-43%, -9%);
	}	
	.container-features .content {
		width: 50%;
		place-items: start;
		text-align: left;
	}
	.container-features .content__title {
		max-width: 16ch;
	}	
	.container-features .content__text {
		max-width: 55ch;
	}
}

@media screen and (min-width: 1280px) {
	.container-features .images picture {		
		transform: translate(-43%, -5%);
	}	
	.container-features .content__title {
		max-width: 28ch;
	}
	.container-features .content__text {
		max-width: 45ch;
	}
}