footer {
	padding: 4rem 1rem;
	background-color: var(--clr-background-footer);
	border-top-right-radius: 100px;
	font-family: var(--ff-secondary);
}
.footer__logo {
	width: 160px;	
	margin: 3rem 0;
}
.list-container {	
	margin: 2rem 0;
}
.list-container__title {
	margin: 1rem 0;
	font-size: clamp(20px, 1vw, 22px);
	font-weight: var(--fw-bolder);
	color: var(--white);	
}
.list__item {
	margin: 1.5rem 0;
}
.list__link {
	font-size: var(--fs-nav);
	color: var(--clr-link-footer);
	transition: .5s ease;
}
.list__link:hover,
.list__link:focus-visible {
	text-decoration: underline;
}

@media screen and (min-width: 50em) {
	footer {
		padding: 3rem 6rem;
	}
}
@media screen and (min-width: 70em) {
	footer {
		padding: 3rem 8rem;
	}
	.list-container__title {
		margin-bottom: 1rem;
	}
}