.section-infrastructure {
	padding-bottom: 3rem;
	background-image: url("../../assets/bg-pattern-circles.svg"), var(--secondary-gradient);
	background-position: 53% 162%;
	background-repeat: no-repeat;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.item-image-phones {	
	width: 22rem;
}
.item-image-phones picture{
	transform: translate(0px , -190px);
}
.item-content-infrastructure {
	text-align: center;
}
.item-content-infrastructure h2 {
	font-size: var(--fs-alternative-lg-heading);
}

@media screen and (min-width: 767px) {
	.section-infrastructure {
		padding: 3rem;
		background-position: -151% 80%;
	}
	.section-infrastructure .container {
		height: 20rem;
	}
	.item-image-phones {
		width: 50%;
		position: relative;
	}
	.item-image-phones picture {
		width: 23rem;
		transform: translate(-42px, 50px);
	}
	.item-content-infrastructure {
		width: 50%;
		text-align: left;
	}
}
@media screen and (min-width: 1280px) {
	.section-infrastructure {
		padding: 2rem 8rem;
		background-position: -86% 80%;
	}
	.item-image-phones picture {
		width: 30rem;
		transform: translate(-50px , -48px);
	}
}
@media screen and (min-width: 1440px) {
	.section-infrastructure {
		padding: 2rem 10rem;
		background-position: -47% 80%;
	}
	.section-infrastructure .container .flex-md-two-columns {
		align-items: flex-start;
	}
	.item-image-phones picture {
		width: 35rem;
		transform: translate(-50px, -114px);
	}	
	
}