.section-infrastructure {
	padding: var(--section-block-padding) var(--section-inline-padding);
	background-image: url("../../assets/bg-pattern-circles.svg"), var(--secondary-gradient);
/* 	background-size: 150%; */
	background-size: contain;
	background-position: 0px -120px;
	background-repeat: no-repeat;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	position: relative;	
	height: 58rem;
}
.container-infrastructure .images {
	position: absolute;
	top: -35%;
}
.container-infrastructure .content {
	display: grid;
	place-items: center;
	text-align: center;
	margin-top: 10rem;
}
.container-infrastructure .content__title {
	color: var(--clr-heading-light);
}
.container-infrastructure .content__text {
	max-width: 31ch;
	color: var(--clr-text-light);
}

@media screen and (min-width: 767px) {
	.container-infrastructure .images {
		width: 50%;
	}
	.container-infrastructure .content {
		width: 50%;
		place-items: start;
		text-align: left;
	}
	.container-infrastructure .content__title {
		max-width: 16ch;
	}	
	.container-infrastructure .content__text {
		max-width: 55ch;
	}
}
@media screen and (min-width: 1280px) {
	.container-infrastructure .images {
		transform: translate(14%, -18%);
	}
	.container-infrastructure .content__title {
		max-width: 28ch;
	}
	.container-infrastructure .content__text {
		max-width: 45ch;
	}
}