.section-design {
	padding: var(--section-block-padding) var(--section-inline-padding);
	background-color: var(--clr-background-light);
}
.container {
	padding-bottom: 12rem;
}
.container__title {
	text-align: center;
	color: var(--clr-heading-dark);
	margin-bottom: 6rem;
}
.container-design .content {
	display: grid;
	place-items: center;
	text-align: center;
}
.container-design .content__title {
	max-width: 16ch;
	margin-top: 3rem;
	color: var(--clr-heading-dark);
}
.container-design .content__text {
	max-width: 31ch;
	color: var(--clr-text-dark);
}

@media screen and (min-width: 767px) {
	.section-design {
		overflow: hidden;
	}
	.container-design .images {
		order: 1;
		width: 50%;
	}
	.container-design .images picture {
		width: 140%;
		transform: translate(14%, 4%);
	}
	.container-design .content {
		width: 50%;
		place-items: start;
		text-align: left;
	}
	.container-design .content__title {
		max-width: 16ch;
	}	
	.container-design .content__text {
		max-width: 55ch;
	}
	.container-design .content .content__title:nth-child(2) {
		margin-top: 6rem;
	}
}

@media screen and (min-width: 1280px) {
	.container__title {
		margin-bottom: 3rem;
	}
	.container-design .images picture {
		transform: translate(14%, -2%);
	}
	.container-design .content__title {
		max-width: 28ch;
	}
	.container-design .content__text {
		max-width: 45ch;
	}
}