:root {
	/* PRIMARY */
	--light-red: hsl(356, 100%, 66%);
	--very-light-red: hsl(355, 100%, 74%);
	--very-dark-blue: hsl(208, 49%, 24%);

	/* NEUTRAL */
	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(240, 2%, 79%);
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	--very-dark-black-blue: hsl(240, 10%, 16%);
	--very-dark-gray-blue: hsl(237, 17%, 21%);
	--very-dark-desaturated-blue: hsl(237, 23%, 32%);

	/* colors */
	--clr-heading-light: var(--white);
	--clr-heading-dark: var(--very-dark-blue);
	--clr-text-light: var(--white);
	--clr-text-dark: var(--very-dark-grayish-blue);
	--clr-text-footer: var(--grayish-blue);
	--clr-body-copy: var(--very-dark-grayish-blue);	
	--clr-background-light: var(--white);
	--clr-background-footer: var(--very-dark-black-blue);
	--clr-cta-text: var(--light-red);
	--clr-cta-hover-background: var(--very-light-red);
	--clr-cta-border: var(--light-red);
	--clr-link-footer: var(--grayish-blue);

	/* Background gradient - Intro/CTA mobile nav */
	--primary-gradient-intro: linear-gradient(to left, var(--very-light-red), var(--light-red));

	/* Gradient body */
	--secondary-gradient: linear-gradient(to right, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
	

	/* FONTS */
	--ff-primary: 'Overpass', sans-serif;
	--ff-secondary: 'Ubuntu', sans-serif;

	--ff-heading: var(--ff-primary);
	--ff-text: var(--ff-primary);
	--ff-nav: var(--ff-primary);
	--ff-footer: var(--ff-secondary);
	--ff-button: var(--ff-secondary);

	/* FONT WEIGHTS */
	--fw-light: 300;
	--fw-normal: 400;
	--fw-bold: 600;
	--fw-bolder: 700;

	/* FONT SIZES */	
	--font-size-h1: clamp(3.6rem, calc(3.6rem + ((1vw - 0.32rem) * 1.7208)), 5.4rem);
	--font-size-h2: clamp(2.5rem, calc(2.5rem + ((1vw - 0.32rem) * 0.478)), 3rem);
	--font-size-h3: clamp(2.5rem, calc(2.5rem + ((1vw - 0.32rem) * 0.478)), 3rem);
	--font-size-text: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 0.3585)), 1.875rem);
	--font-size-nav: 1.5rem;
	--font-size-button: 1.4rem;


	/* PADDINGS */
	--section-block-padding: clamp(10.3rem, calc(10.3rem + ((1vw - 0.32rem) * 3.4417)), 13.9rem);
	--section-inline-padding: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 8.6042)), 10rem);
	--footer-block-padding: clamp(6rem, calc(6rem + ((1vw - 0.32rem) * 1.912)), 8rem);
}


/*Box sizing rules*/
*,
*:before,
*:after {
	box-sizing: border-box;
}
/* Remove default margin */
* {
	padding: 0;
	margin: 0;
}

/*General styling*/
html,
body {
	height: 100%;
}
html {
  font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	background-color: var(--clr-background-light);
}
figure,
picture {
	display: block;
}
img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Typography*/
h1 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-light);
	font-size: var(--font-size-h1);
	color: var(--clr-heading-light);
}
h2 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-bolder);
	font-size: var(--font-size-h2);
}
h3 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-bolder);
	font-size: var(--font-size-h3);	
}
p {
	font-family: var(--ff-text);
	font-size: var(--font-size-text);
	line-height: 1.5;
	margin: 2rem 0;
}


/* layout */
.flex-sm-column-center {
	display: grid;
	place-items: center;
}

@media screen and (min-width: 767px) {
	.flex-md-two-columns {
		display: flex;
		align-items: center;
	}
}

/* Spacers*/
.spacer-large {
	padding-bottom: 4rem;
}